:root {
    --primary-blue: #15194B;
    --secondary-blue: #0994B4;
    --third-blue: #000760;
    --primary-font: "Inria Sans", sans-serif;
    --secondary-font: "League Spartan", "Inria Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.video {
    padding: 5em 0;
    position: relative;
    text-align: center;
}

div.video > video {
    border-radius: 2em;
    height: 25vw;
    width: 45vw;
}

.video-background-circle {
    background-image: linear-gradient(-60deg, transparent 15%, var(--secondary-blue));
    border-radius: 50%;
    height: 5em;
    position: absolute;
    width: 5em;
    z-index: -1;
}

@media (max-width: 800px) {
    div.video > video {
        height: 55vw;
        width: 90vw;
    }

    .video-background-circle {
        display: none;
    }
}

@media (min-width: 1960px) {
    .video {
        font-size: 24px;
    }
}

@media (min-width: 2400px) {
    .video {
        font-size: 32px;
    }
}

@media (min-width: 3000px) {
    .video {
        font-size: 40px;
    }
}
