:root {
    --primary-blue: #15194B;
    --secondary-blue: #0994B4;
    --third-blue: #000760;
    --primary-font: "Inria Sans", sans-serif;
    --secondary-font: "League Spartan", "Inria Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.video {
    padding: 5rem 0;
    position: relative;
    text-align: center;
}

div.video > iframe {
    border-radius: 2rem;
    max-height: 450px;
    max-width: 765px;
    height: 35vw;
    width: 60vw;
}

.video-background-circle {
    background-image: linear-gradient(-60deg, transparent 15%, var(--secondary-blue));
    border-radius: 50%;
    height: 75px;
    position: absolute;
    width: 75px;
    z-index: -1;
}

@media (max-width: 800px) {
    div.video > iframe {
        height: 55vw;
        width: 90vw;
    }

    .video-background-circle {
        display: none;
    }
}
