:root {
    --primary-font: "Inria Sans", sans-serif;
    --secondary-font: "League Spartan", "Inria Sans", sans-serif;
    --primary-blue: #15194B;
    --secondary-blue: #0994B4;
    --third-blue: #000760;
}

body {
    box-sizing: border-box;
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}

.market-intelligence-what-is-it {
    align-items: flex-start;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 7rem 1rem 10rem;
    max-width: 1200px;
}

.market-intelligence-what-is-it > article > h3 {
    /* fonte: https://css-tricks.com/blurred-borders-in-css/ */
    text-align: center;
    border: solid 1rem rgba(#000, .03);
    position: relative;
    background: var(--primary-blue)
                border-box /* background-origin */
                padding-box /* background-clip */;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;
    padding: .5rem;
    margin-bottom: 2rem;
}

.market-intelligence-what-is-it > article > h3:before {
    /* fonte: https://css-tricks.com/blurred-borders-in-css/ */
    position: absolute;
    z-index: -1;
    top: -.5rem; right: -.5rem; bottom: -.5rem; left: -.5rem;
    border: inherit;
    border-color: transparent;
    background: inherit;
    background-clip: border-box;
    -webkit-filter: blur(.2rem);
            filter: blur(.2rem);
    content: '';
    border-radius: inherit;
    clip-path: inset(0 round 1rem);
}

.market-intelligence-what-is-it > article {
    flex: 1;
    max-width: 400px;
    min-width: 300px;
}

.market-intelligence-what-is-it > article > p {
    color: var(--primary-blue);
    font-size: 1.2rem;
}

.market-intelligence-what-is-it-vertical-bar {
    height: 200px;
    width: 4px;
    background: var(--secondary-blue);
    background: linear-gradient(var(--secondary-blue) 50%, var(--primary-blue) 100%);
}


.market-intelligence-main-functions {
    background: var(--primary-blue) url("../imgs/market-intelligence-main-functions.jpg") no-repeat top;
    background-size: cover;
    position: relative;
}

.market-intelligence-main-functions > h2 {
    background: var(--secondary-blue);
    background: linear-gradient(var(--third-blue) 0%, var(--primary-blue) 100%);
    border-radius: 2rem;
    color: white;
    font-size: 2.5rem;
    margin: auto;
    max-width: 700px;
    padding: 2rem;
    text-align: center;
    transform: translateY(-50%);
    width: 80%;
}

.market-intelligence-main-functions-cards-container {
    display: flex;
    flex-wrap: wrap-reverse;
    column-gap: 2rem;
    justify-content: space-around;
    margin: auto;
    max-width: 1200px;
    padding-bottom: 6rem;
    row-gap: 10rem;
}

.market-intelligence-main-functions-card {
    background-color: var(--primary-blue);
    border: 2px solid white;
    border-radius: 1rem;
    color: white;
    min-height: 200px;
    min-width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    width: calc(100% / 3);
    z-index: 1;
}

.market-intelligence-main-functions-card > h3 {
    font-weight: bold;
    margin-bottom: 2rem;
}

.market-intelligence-main-functions-card > h3::before {
    content: '\002b62';
}

.market-intelligence-main-functions-card.card-hidden {
    visibility: hidden;
}

.market-intelligence-main-functions-lines {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    bottom: 12rem;
    height: 300px;
    position: absolute;
    transform: translateX( calc(50vw - 600px / 2) );
    width: 600px;
}


.market-intelligence-how-the-service-works {
    margin: auto;
    max-width: 1200px;
}

.market-intelligence-how-the-service-works > h2 {
    color: var(--primary-blue);
    font-size: 3rem;
    padding: 2rem;
}


@media (max-width: 500px) {
    .market-intelligence-what-is-it > article {
        min-width: 250px;
    }

    .market-intelligence-main-functions-card {
        min-width: 100px;
        width: 70%;
    }
}

@media (max-width: 710px) {
    .market-intelligence-what-is-it-vertical-bar.first-bar,
    .market-intelligence-main-functions-lines,
    .market-intelligence-main-functions-card.card-hidden {
        display: none;
    }
}

@media (max-width: 900px) {
    .market-intelligence-main-functions-cards-container {
        row-gap: 2rem;
    }
}

@media (max-width: 1100px) {
    .market-intelligence-what-is-it-vertical-bar.second-bar {
        display: none;
    }
}

@media (max-width: 1200px) {
    .market-intelligence-main-functions-lines {
        transform: translateX( calc(25vw) );
        width: 50%;
    }
}
