/* Parte Thales */
* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-assertive: 'Inria Sans', sans-serif;
}

.header-solid {
    background: linear-gradient(90deg, rgba(9, 148, 180, 1) 0%, rgba(2, 81, 146, 1) 30%, rgba(28, 32, 85, 1) 100%);
}

.header-transparent {
    background: transparent;
}

header {
    position: fixed;
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
}

header::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(9, 148, 180, 1) 0%, rgba(2, 81, 146, 1) 30%, rgba(28, 32, 85, 1) 100%);
    opacity: 1;
    transition: opacity 0.4s ease;
    z-index: -1;
}

.header-transparent::before {
    opacity: 0;
}

.logo-header {
    margin-left: 2%;
    margin-top: 15px;
}

.logo-header img {
    max-width: 4vw;
    height: auto;
  }

header nav {
    display: flex;
    margin-right: 2%;
    gap: 15px;
    align-items: center;
}
header nav a {
    text-decoration: none;
    font-size: 1vw;
    color: white;
    font-family: var(--fonte-assertive);
}

section#hero {
    background: url('../imgs/cidade-da-noite-brilhante 1-og.png') no-repeat center center/cover;
    display: flex;
    height: 100vh;
    justify-content: left;
    padding: 2rem;
}

section#hero .hero-inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 12vh;
    margin-top: 5vh;
    margin-left: 2vw;
}

section#hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    max-width: 30vw; 
    background-color: rgba(0, 4, 57, 0.22); /* Azul escuro, 50% opaco */
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: white;
    font-family: var(--fonte-assertive);
}

.hero-title {
    font-size: 2.5rem;
    color: white;
    font-family: var(--fonte-assertive);
    font-weight: bold;
    margin-bottom: 1.5rem;
    max-width: 30vw;
}

.hero-content p {
    font-size: 1.5rem;
    line-height: 1.2;
}

/* end parte Thales */

/* Parte Murillo */

/* end parte Murillo */

/* Parte Renan */

/* end parte Renan */
